.post-page-container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  max-width: 45rem;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.175rem rgba(0,0,0,0.1);
}

.post-page-container .post-preview-item {
  margin: 0;
}

.post-page-container ul {
  list-style: none;
}

.comments-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}