.verify-form-container {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

.verify-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.verify-form-input,
.verify-form-btn {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.verify-form-btn {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.verify-form-btn:not(:disabled):hover {
  background-color: #f0f8ff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
  transform: scale(1.02);
}

.verify-form-btn:not(:disabled):active {
  transform: translateY(2px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
}

.verify-form-btn:disabled {
  cursor: default;
}

.verify-form-label,
.verify-form-btn {
  margin-top: 1rem;
}

.verify-form-btn {
  padding: 0.5rem;
}

.verify-form-link {
  cursor: pointer;
  color: black;
  margin-top: 0.75rem;
}

.verify-form-login {
  margin-top: 0.5rem;
}

